#intro_head{
    color: #5d1874;
    background-color: #bfacfb;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Patua one',cursive;
    border: 10px ridge #5d1874;
}

.intro{
    border: 30px ridge #5d1874;
    display: inline;
    float: left;
}
hr{
    color: black;
    background-color: black;
    border: 2px ridge #5d1874;
}
img{
    height: 522px;
    width: 810px;
    float: left;
}
body{
    background-color: #caf0f8;
    background-size: cover;
    background-repeat: no-repeat;
}
.des{
    margin-left: 830px;
}
p{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
h2{
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-weight: 10000;
    color: #5d1874;
}