
h1{
    text-transform: uppercase;
    color: #4e148c;
    background-color: lightcyan;
    align-content: center;
    text-align: center;
    border: 4px ridge #4e148c;
}

body{
    background-color: palegoldenrod;
}
 
#PART{
    text-transform: uppercase;
    color: navy;
}
hr{
    color: black;
    background-color: black;
    border: 2px ridge darkblue;
}
iframe{
    border: 10px ridge darkblue;
}